@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manufacturing+Consent&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "outfit", sans-serif;
}
@theme {
  --color-primary: #2563eb;
  --color-primary: #1f58d8;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}
